@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital,wght@0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --AmareloSol: #d1d119;
    --Capuccino: #5E3D19;
    --CinzaAnemico: #EDEDED;
    
    --BordaClara: 2px solid var(--CinzaAnemico);
    --BordaEscura: 2px solid var(--Capuccino);

    --MarginUniversal: 20px;
    --PaddingUniversal: 30px;
    --RadiusUniversal: 10px;
    --RadiusPrincipal: 45px;
    
    --H1: 3rem;
    --H2: 1.8rem;
    --p: 1.4rem;
}

body {
    background-color: var(--AmareloSol);
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Chau Philomene One', Arial, Helvetica, sans-serif;
    font-size: var(--p);
}

header {
    display: flex;
    flex-direction: column;
    background: var(--AmareloSol) url('/imagens/background.webp') center/cover no-repeat;
    background-attachment: fixed;
    height: 100vh;
    justify-content: center;
    text-align: center;
}


header h1 {
    font-size: var(--H1);
    text-transform: uppercase;
    color: var(--CinzaAnemico);
}

header p {
    font-size: var(--p);
    margin: var(--MarginUniversal);
    color: var(--AmareloSol);
}

#bloco-de-titulo {
    position: relative;
    background-color: var(--Capuccino);       
    border-radius: var(--RadiusPrincipal);                 
    padding: var(--PaddingUniversal);
    border: var(--BordaEscura); 
    margin: var(--MarginUniversal) auto;
}

#bloco-de-titulo img {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.destaque {
    color: var(--AmareloSol);
}

section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;       
    height: 100vh; 
    gap: 5%; 
}

img {
    width: 100%;
    height: auto;
}

#bem-vindo {
    background-color: var(--AmareloSol);
}

#bem-vindo img {
    width: 100%;
    height: auto;
    max-height: 400px;        
    object-fit: contain;  
    margin: var(--MarginUniversal) auto;
    padding: var(--PaddingUniversal);
}

#apresentacao {
    color: var(--CinzaAnemico);
    background-color: var(--Capuccino);
    text-align: justify;
    max-width: 500px;
    border-radius: var(--RadiusPrincipal);
    margin: var(--MarginUniversal);
    padding: var(--PaddingUniversal); 
}

#apresentacao h2 {
    margin-bottom: var(--MarginUniversal);
}

/* Estilos para a seção de Contato */
#contato {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--Capuccino);
}

#contato-info {
    margin: var(--MarginUniversal);
}

#contato img {
    width: 100%;
    height: auto;
    max-height: 500px;        
    object-fit: contain;  
    margin: var(--MarginUniversal) auto;
}

#contato h2 {
    color: var(--AmareloSol);
    margin: var(--MarginUniversal);
    font-size: var(--H2);
}

#contato li{
    color: var(--CinzaAnemico);
}

#contato a {
    display: inline-block;
    color: var(--AmareloSol);
    text-decoration: none;
    transition: color 300ms ease;
    will-change: transform;
}

#contato a:hover {
    color: var(--CinzaAnemico);
    transform: scale(1.1);
}

#contato ul {
    list-style-type: none;
    text-align: center;
}

.redes {
    display: flex;            
    gap: 20px;
    justify-content: center;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--Capuccino);
    z-index: 1000;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    height: auto;
}

nav {
    max-width: 1000px;
    margin: 0 auto; 
    border-radius: var(--RadiusPrincipal);
    background-color: var(--Capuccino);
}

nav ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: var(--AmareloSol);
    white-space: nowrap;
    font-size: 1rem; 
    letter-spacing: .5px;
    line-height: 1.5;
    font-weight: 400;
}

#menu a:hover {
    color: var(--Capuccino);
    background-color: var(--CinzaAnemico);
    border-radius: var(--RadiusUniversal);
    padding: 5px 10px;
}

#blocoreceita {
    background-color: var(--Capuccino);
    color: var(--CinzaAnemico);
    border-radius: var(--RadiusUniversal);
    list-style-type: none; 
    max-width: 700px;
    /* Padrão de rolagem */
    padding: 10px;
    margin: 20px auto;
    text-align: center;
}

#blocoreceita p {
    margin-top: 10px;
}

#blocoreceita h3 {
    text-align: center;
    color: var(--AmareloSol); 
    margin-bottom: var(--PaddingUniversal);
    font-size: var(--H2);
}

#blocoreceita li {
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: var(--RadiusUniversal);
    border: var(--BordaClara);
    transition: background-color 0.2s ease;
}

#blocoreceita li:hover {
    background-color: var(--AmareloSol); 
}

#blocoreceita li a {
    text-decoration: none;
    color: var(--CinzaAnemico); 
    display: block;
    transition: color 0.2s ease;
}

#blocoreceita li:hover a {
    color: var(--Capuccino); 
    font-weight: bold;
}

#lista-resultados-busca-nome {
    list-style: none;
}

#info-receita, 
#sua-receita {
    width: 100%;
    background: none; 
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 450px;
    margin: 20px;       
}

.galeria img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: var(--RadiusUniversal);
}

input, textarea {
    background-color: rgb(241, 251, 218);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #5E3D19;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

input[type="submit"] {
    font-weight: bold;
    color: rgb(59, 154, 15);
}

input[type="reset"] {
    font-weight: bold;
    color: rgb(112, 14, 14);
}

input::placeholder,
textarea::placeholder {
    font-size: 19px;      
    opacity: 1;           
}
/*--- SECTION DE PREPARO ---*/
#sua-receita {
    background-color: var(--Capuccino);
    text-align: center;
    color: var(--CinzaAnemico);
    min-height: 100vh;
}

#titulo-receita {
    color: var(--AmareloSol); 
    font-size: var(--H2);
    text-align: center; 
    margin: var(--MarginUniversal);
}

#preparo h2 {
    text-align: center;
    color: var(--AmareloSol);
    font-size: var(--H1);
    margin-bottom: 20px;
}

/* Estilos para as caixas de ingredientes e modo de preparo */
#ingredientes, #modo-de-preparo {
    max-width: 1000px;
    padding: 20px; 
    border: var(--BordaClara);
    margin: 20px auto;
    border-radius: var(--RadiusUniversal);
}

#ingredientes h3, #modo-de-preparo h3 {
    color: var(--AmareloSol);
    font-size: var(--H2);
    border-bottom: 2px solid var(--AmareloSol); 
    padding-bottom: 5px;
    margin-bottom: 15px;
}

#ingredientes ul, #modo-de-preparo ol {
    list-style-type: disc; 
    margin: 10px 0;
    padding-left: 20px
}

#modo-de-preparo ol {
    list-style-type: decimal; 
}

#info-receita img {
    margin: 20px; 
    border-radius: var(--RadiusUniversal);
}

.info-imagem {
    width: 80%;
    margin: 0 auto;
}

.info-imagem img {
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: var(--RadiusUniversal);
}

.info-imagem p {
    padding: 0 5px;
}

#lista-ingrediente {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
    padding: 20px 0;
    margin-top: 30px;
}

#info-receita {
    background-color: var(--Capuccino);
    margin: auto;
}

.card-ingrediente {
    width: 200px; 
    background-color: var(--Capuccino);
    color: var(--CinzaAnemico);
    border-radius: var(--RadiusUniversal);
    overflow: hidden; 
    text-align: center;
    box-shadow: 4px 4px 0px var(--AmareloSol); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-ingrediente:hover {
    transform: translateY(-5px); 
    box-shadow: 6px 6px 0px var(--AmareloSol);
}

.card-ingrediente img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    display: block;
}

.card-ingrediente h4 {
    font-size: 1.2rem;
    padding: 10px;
    margin: 0;
    line-height: 1.2;
    min-height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-mobile {
    display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    section {
        flex-direction: column;
        height: auto; 
        padding: 20px 0;
    }

    nav {
        border: none;
    }

    nav ol {
        gap: 30px;
    }

    nav li {
        margin-bottom: 10px;
        font-size: 0.9rem; 
    }

    #bloco-de-titulo {
        margin: var(--MarginUniversal);
    }

    #bem-vindo img {
        max-height: 400px;        
    }

    .redes {
        gap: 40px;
    }

    #contato img {
        max-height: 400px;      
        padding: 20px;
    }

    #info-receita img {
        margin: auto;
        margin-bottom: auto;
        border-radius: var(--RadiusUniversal);
    }

    .galeria {
    max-width: 410px;
    }

    #lista-ingrediente {
        flex-direction: column;
        align-items: center; 
    }

    #btn-mobile {
        font-size: 2rem;
        border: 1px solid var(--AmareloSol);
        border-radius: 10px;
        background-color: var(--Capuccino);
        color: var(--AmareloSol);
        padding: 4px 12px;
        cursor: pointer;
        display: block; 
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2000;
    }

    #menu {
        padding: 0;
    }

    #menu nav {
        display: none; 
        width: 100%;
    }

    #menu nav.show {
        display: block; 
    }

    #menu ol {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    #ingredientes, #modo-de-preparo {
        margin: 20px;
    }

}